@{
	ViewData["Title"] = "Not Found";
}

<div class="row">
	<div class="col-md-8 offset-3">
		<img src="/Images/error.jpg" style="width:70%";height:500px"" />
	</div>
	<div class="col-md-4 offset-5">
		<a class="btn btn-outline-success" asp-action="Index" asp-controller="Products">
			<i class="fas fa-regular fa-arrow-rotate-right"></i>
			Go TO Home Page 
		</a>
	</div>
</div>