@model Category 

@{
	ViewData["Title"] = "Cretate Category";
}




<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2 class="text-center mb-4">Add New Category</h2>

			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control" autocomplete="off" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Description" class="control-label"></label>
					<textarea asp-for="Description" class="form-control" rows="3"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>

				<div class="form-group d-flex justify-content-between mt-3">
					<a asp-action="Index" class="btn btn-outline-secondary">Show All Category</a>
					<input type="submit" value="Create" class="btn btn-outline-success" />
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}